html,body,header,section,p,ul,li,dl,dd,dt,h1,h2,h3,h4,h5,h6,img,input{margin: 0;padding: 0;}
img{display: block;}
li{list-style: none;}
body{font-size: .3rem;}
.mauto{margin: 0 auto;}
.textcenter{text-align:center;}
.clearfix:after{content:'';display: block;height: 0;width: 0;clear: both;}
.fl{float: left;}
.fr{float: right;}
#header{width: 100%;background: #0cc440;}
h1{height: .88rem;width: 5.8rem;color:#fff;font-size:.4rem;line-height: .88rem}

@font-face {
  font-family: 'iconfont';
  src: url('//at.alicdn.com/t/font_1474338813_918404.eot'); /* IE9*/
  src: url('//at.alicdn.com/t/font_1474338813_918404.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('//at.alicdn.com/t/font_1474338813_918404.woff') format('woff'), /* chrome、firefox */
  url('//at.alicdn.com/t/font_1474338813_918404.ttf') format('truetype'), /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
  url('//at.alicdn.com/t/font_1474338813_918404.svg#iconfont') format('svg'); /* iOS 4.1- */
}
                    

.iconfont {
  font-family:"iconfont" !important;
  font-size:16px;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px;
  -moz-osx-font-smoothing: grayscale;
}
.icon-search:before { content: "\e600"; }
.icon-quit:before { content: "\e601"; }
.icon-my:before { content: "\e602"; }
.icon-camera:before { content: "\e603"; }
.icon-homehover:before { content: "\e604"; }


/*-----footer-------------*/
#footer{padding-top:.05rem;width:100%;position: fixed;bottom:0;left:0;background: #f1f1f1;}
#footer ul{background: #fff;width: 6.4rem;height: .87rem;font-size: .3rem;display: flex;border-top:1px solid #e1e1e1;justify-content: space-around;align-items: center;color:#e1e1e1;}
#footer .camara{border: 1px solid #ccc;width: 1.06rem;height: 1.06rem;line-height: 1.06rem;border-radius: 0.53rem;background: #fff;position: absolute;margin-top: -0.66rem;margin-left: .1rem;}
#footer ul li{flex: 2}
#footer .checked{color:#02c539;}
